.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card {
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid $secondary-color-main;
}

.card-main {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card-divider {
  width: 100%;
  height: 1px;
  background-color: $secondary-color-main;
}

.card-includes {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 12px;
}

.card-list-icon {
  margin-right: 4px;
  vertical-align: middle;
}